<%=form_for [@question, @answer], remote: true do |f|%>
  <div class="form-group">
    <%=f.label :description %>
    <%=f.text_field :description, class: "form-control" %>
  </div>
  <%=f.submit 'Answer!', :class => "btn btn-info" %>
<%end%>
