/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
 }

.profile-label{
  font-size:17px;
  color:#007878;
  padding-right: 5px;
}

.profile-info h5 {
  padding-top: 10px;
}

.profile-image{
  height:250px;
  width: 250px;
  background-size: cover;
  background-position: center;
}

.profile-title {
  color: #007878;
  font-size:45px;
  margin-bottom: 40px;
}

.profile-bio{
  margin-top:20px;
}
.answer{
  margin-bottom:15px;
  border: 1px solid grey;
  padding:10px;
  border-radius:10px;
}

.answer-description{
  font-size:17px;

}

.posted-by{
  font-size:15px;
  font-style:italic;
  color:slategrey;
  padding-left:10px;
}

.delete img{
  height: 20px;
}

.question{
  font-size:20px;
  margin:10px;
}

.search {
  margin-top: 12px;
}

.search-button{
  background-color:#007878;;
  color:white;
  border:none;
  padding:4px 10px;
}

.navbar{
  height:100px;
  padding:20px;
  background-color:darkred;
  border-radius:0;
}

.navbar-brand {
  font-size:30px;
}

.navbar-default .navbar-brand {
  color:white;
}

.navbar-default .navbar-nav li  a:hover{
  color:grey;
}

.navbar-default .navbar-nav .dropdown-menu li a{
  color:black;
}

.navbar-default .navbar-nav li  a{
  color:white;
}

.navbar-default .navbar-nav li  a:focus{
  color:white;
}

.navbar-default .navbar-nav .dropdown .dropdown-toggle{
  margin-top:12px;
  margin-left:15px;
  padding:4px;
}

.profile-info {
  background-color: #450000;
  color: white;
  padding-top: 0px;
  padding-left: 30px;
  margin-top: 50px;
  margin-left: 15px;
  width: 80%;
}

.profile-questions {
  margin-top: 20px;
}

.username {
  font-size: 20px;
  color:#007878;
}

.big {
  font-size: 40px;
}

a:hover{
  text-decoration:none;
}

.notice{
  background-color:yellow;
  margin:10px;
}
